<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form cource</title>
</head>
<body>
    <form action="/courses/register<%= data?.id ? '/' + data.id : '' %>" method="post">
        <label >
            Назва курсу
            <input type="text" name="title" value="<%= data ? data.title : '' %>"  required>
        </label>
        <label >
            Тривалість курсу у годинах
            <input type="text" name="duration" value="<%= data ? data.duration : '' %>" required>
        </label>
        <label >
            <select name="students" multiple required>
                <% options.forEach(option => { %>
                    
                    <option value="<%= option._id%>"  <%= selectedStudents && selectedStudents.includes(option._id.toString()) ? 'selected' : '' %>><%= option.name%></option>
                   
                    <%})%>
            </select>
        </label>
        <button type="submit" class="button"> <%= data?.id ? 'Оновити': 'Додати' %></button>
    </form>
    <% if (errors.length > 0) { %>
        <hr>
        <ul style="color: red;">
          <% errors.forEach(function(error) { %>
          <li><%= error.msg %></li>
          <% }) %>
        </ul>
        <hr />
        <% } %>
</body>
</html>