<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Info</title>
</head>
<body>
    <h1>Course Info</h1>
    <div class="course" style="border: 2px solid #000; padding: 5px;">
        <div class="course__content">
            <% if ( course.title){ %>
            <a href="courses/<%=course._id %>" class="student__name"><span>Назва курсу ----</span><%= course.title %></a>
            <% } %>
            <% if ( course.duration){ %>
            <div class="student__ahe"><span>Тривалість ----</span><%= course.duration %>год</div>
            <% } %>
            <% if (course.students){ %>
                <h2>Список студентів</h2>
                <hr>
                <% course.students.forEach(student=> { %>
                    <ul>
                        <li><span>Ім'я ---</span> <%= student.name %></li>
                    </ul>
                    <% }) %>
            <% } %>
        </div>
        <div class="student__actions">
            <a href="/courses/register/<%=course._id %>" class="student__action button">Редагувати</a>
            <button type="button" class="student__action button" onclick="deleteElement('/courses', '<%= course._id %>' ,'/courses')">Видалити</button>
        </div>
    </div>

    <a href="/courses" class="back link">повернутись до списку</a>
</body>
</html>