<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/javascripts/deleteElement.js"></script>
    <title>Cource List</title>
    <style>
        .courses{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 30px;
        }
        .course{
            padding: 16px;
        }
        .student__name{
            font-size: 40px;
            text-decoration: none;
            color: blue;
        }
    </style>
</head>
<body>
    <h1>Cource List</h1>
    <hr>
    <div class="courses" style="border: 1px solid red;">
        <% courses.forEach(course=> { %>
        <div class="course" style="border: 2px solid #000; padding: 5px;">
            <div class="course__content">
                <% if ( course.title){ %>
                <a href="courses/<%=course._id %>" class="student__name"><span>Назва курсу ----</span><%= course.title %></a>
                <% } %>
                <% if ( course.duration){ %>
                <div class="student__ahe"><span>Тривалість ----</span><%= course.duration %>год</div>
                <% } %>
                <% if (course.students.length){ %>
                    <h2>Список студентів</h2>
                    <hr>
                    <% course.students.forEach(student=> { %>
                        <ul>
                            <li><span>Ім'я ---</span> <%= student.name %></li>
                        </ul>
                        <% }) %>
                <% } %>
                <% if (course.seminars.length){ %>
                    <h2>Список семінарів</h2>
                    <hr>
                    <% course.seminars.forEach(seminar=> { %>
                        <ul>
                            <li><span>Тема ---</span> <%= seminar.topic %></li>
                            <li><span>Тривалість ---</span> <%= seminar.duration %></li>
                            <li><span>Студент ---</span> <%= seminar.responsibleStudent?.name %></li>
                        </ul>
                        <div class="student__actions">
                            <button type="button" class="student__action button" onclick="deleteElement('/courses/seminar/<%= course._id %>', '<%= seminar._id %>' ,'/courses')">Видалити семінар</button>

                        </div>
                        <% }) %>
                <% } %>
            </div>
            <div class="student__actions">
                <a href="/courses/register/<%=course._id %>" class="student__action button">Редагувати</a>
                <a href="/courses/seminar/<%=course._id %>" class="student__action button">Додати семінар</a>
                <button type="button" class="student__action button" onclick="deleteElement('/courses', '<%= course._id %>' ,'/courses')">Видалити</button>
            </div>
        </div>
        <% }) %>
        <a href="/courses/register"  class="button">Додати курс</a>
    </div>
    <a href="/" class="back link">повернутись до головну</a>

</body>
</html>