<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
</head>
<body>
            <div class="item">
                <div class="item__image">
                    <img src="<%=car.image%>" alt="Image">
                </div>
                <div class="item__content">
                    <a href="/cars/<%=car.id%>" target="_blank" class="item__title"><%=car.title%> </a>
                    <div class="item__price">
                        <%=car.price%>
                    </div>
                    <div class="item__amount">
                        year---- <%=car.year%>
                    </div>
                    <div class="item__amount">
                        number---- <%=car.carNumber%>
                    </div>
              
                    <a href="/cars">До списку автомобілів</a>
                </div>
            </div>
        
</body>
</html>