<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/javascripts/deleteElement.js"></script>
    <title>Document</title>
</head>
<body>
    <h1>student List </h1>

    <hr>

    <div class="students" style="border: 1px solid red;">
        <% students.forEach(student=> { %>
        <div class="student" style="border: 2px solid #000; padding: 5px;">
            <div class="student__content">
                <% if ( student.name){ %>
                <a href="students/<%=student._id %>" class="student__name"><span>Ім'я ----</span><%= student.name %></a>
                <% } %>
                <% if ( student.age){ %>
                <div class="student__ahe"><span>Вік ----</span><%= student.age %></div>
                <% } %>
                <% if (student.averageMark){ %>
                <div class="student__avrm"><span>середній бал ----</span><%= student.averageMark %></div>
                <% } %>
            </div>
            <div class="student__actions">
                <a href="students/register/<%=student._id %>" class="student__action button">Редагувати</a>
                <button type="button" class="student__action button" onclick="deleteElement('/students', '<%= student._id %>' ,'/students')">Видалити</button>
            </div>
        </div>
        <% }) %>
        <a href="students/register"  class="button">Додати студента</a>
    </div>
    <a href="/" class="back link">повернутись до головну</a>
</body>
</html>